/*---------------------------------------------------
------ General 
---------------------------------------------------*/

body {
	padding-top: 0;
  padding-bottom: 0;
	font-family: "proxima_nova_rgregular", sans-serif;
	color: #FFF;
	background: #000 url('../img/bg.png') left top;
	border-top: 10px solid #94181C;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.container {
	width: 960px;
}


/*---- Secondary Header ----*/

// Comment

/*---------------------------------------------------
------ Layout
---------------------------------------------------*/

/*---- Header ----*/

header {
	height: 207px;
}

	header > .container {
		position: relative;
		width: 960px;
		height: 207px;
		background: url('../img/headerbg.png') left top no-repeat;
	}

	header h1 {
		position: absolute;
		left: 16px;
		top: 14px;
		margin: 0;
		width: 411px;
		height: 111px;
	}

	header h1 a {
		display: block;
		width: 411px;
		height: 111px;
		text-indent: -9999px;
	}

	header p {
		position: absolute;
		right: 20px;
		top: 84px;
		margin: 0;
		padding: 0;
	}

	header p > span {
		display: block;
		text-align: right;
		color: #94181C;
		font-size: 18px;
		line-height: 20px;
	}

	header p > span a, header p > span a:visited , header p > span b {
		font-family: "proxima_novasemibold", sans-serif;
		font-weight: 600;
		color: #94181C;
	}

	header p > span a:hover {
		color: #94181C;
	}

/*---- Navigation ----*/

nav {
	position: absolute;
	left: 11px;
	top: 145;
	width: 940px;
	height: 50px;
	background-image: linear-gradient(top, #94181C 0%, #751518 100%);
	background-image: -o-linear-gradient(top, #94181C 0%, #751518 100%);
	background-image: -moz-linear-gradient(top, #94181C 0%, #751518 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94181C), to(#751518));
	background-image: -webkit-linear-gradient(top, #94181C 0%, #751518 100%);
	background-image: -ms-linear-gradient(top, #94181C 0%, #751518 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94181C', endColorstr='#751518',GradientType=0 ); /* IE6-9 */
}

	nav ul {
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0;
		width: auto;
		list-style: none;
		border-left: 1px solid #752223;
	}

	nav ul li {
		display: inline-block;
		position: relative;
		float: left;
		margin: 0;
		padding: 0;
		color: #FFF;
		border-left: 1px solid #AA181C;
		border-right: 1px solid #752223;
	}
	
	nav ul li:hover {
		background-image: linear-gradient(top, #751518 0%, #94181C 100%);
		background-image: -o-linear-gradient(top, #751518 0%, #94181C 100%);
		background-image: -moz-linear-gradient(top, #751518 0%, #94181C 100%);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#751518), to(#94181C));
		background-image: -webkit-linear-gradient(top, #751518 0%, #94181C 100%);
		background-image: -ms-linear-gradient(top, #751518 0%, #94181C 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#751518', endColorstr='#94181C',GradientType=0 ); /* IE6-9 */
		-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
		-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
		-o-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
		-ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
		border-left: 1px solid #660000;
		border-right: 1px solid #660000;
	}

	nav ul li a, nav ul li a:visited {
		display: inline-block;
		padding: 0 19px 0 19px;
		line-height: 50px;
		color: #FFF;
		font-family: "proxima_novasemibold", sans-serif;
		font-size: 20px;
	}
	
	nav ul li a i, nav ul li a:visited i {
		font-size: 16px;
	}

	nav ul li a:hover {
		display: inline-block;
		padding: 0 19px 0 19px;
		line-height: 50px;
		color: #FFF;
		text-decoration: none;
	}
	
	nav ul li ul {
		display: none;
		position: absolute;
		padding: 10px;
		width: auto;
		height: auto;
		background: #E1E2E3;
		border-left: none;
		border-right: none;
		z-index: 1000;
	}
	
	/*nav ul li:hover ul {
		display: block;
	}*/
	
	nav ul li ul li {
		border-left: none;
		border-right: none;
		color: #000;
	}
	
	nav ul li ul li:hover {
		background-image: none; 
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow: none;
	  box-shadow: none;
		border-left: none;
		border-right: none;
		color: #94181C;
	}
	
	nav ul li ul li a, nav ul li ul li a:visited {
		display: block;
		padding: 0;
		width: 270px;
		line-height: 24px;
		color: #000;
		font-family: "proxima_novasemibold", sans-serif;
		font-size: 18px;
		border: none;
	}
	
	nav ul li ul li:hover a, nav ul li ul li:hover a:visited {
		color: #94181C;
	}
	
	/*---------------------------------------------------
	------ Homepage Grid
	---------------------------------------------------*/
	
	#homegrid {
		padding-bottom: 11px;
	}
	
	#homegrid .gridrow {
		padding: 11px 0 0 11px;
	}
	
	#homegrid .gridlink {
		position: relative;
		margin-left: 0;
		margin-right: 11px;
		width: 305px;
	}
	
	#homegrid .gridlink a, #homegrid .gridlink a:visited {
		display: block;
	}
	
	#homegrid .gridlink a span {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 0 20px 20px 20px;
		color: #FFF;
		font-family: "proxima_novasemibold", sans-serif;
		font-size: 20px;
	}
	
	#homegrid .gridlink a span, #homegrid .gridlink a img {
		pointer-events: none;
	}
	
	#homegrid .gridlink a:hover img {
		opacity: 0.8;
	}
	
	/*---------------------------------------------------
	------ Subpage Grid
	---------------------------------------------------*/
	
	#subgrid {
		background: #EDEDED;
		padding-bottom: 18px;
	}
	
	#subgrid .gridrow {
		margin: 18px 18px 0 18px;
		color: #000;
		font-size: 16px;
	}
	
	#subgrid .paddingbottom {
		padding-bottom: 18px;
	}
	
	#subgrid .nomargin {
		margin: 0;
	}
	
	#subgrid .gridborder {
		border-bottom: 1px solid #D8DADA;
	}
	
	#subgrid h2 {
		display: block;
		margin: 0;
		padding-bottom: 11px;
		border-bottom: 1px solid #D8DADA;
		color: #94181C;
		font-size: 30px;
	}
	
	#subgrid .gridrow .span4, #subgrid .gridrow .span8, #subgrid .gridrow .span12 {
		margin-left: 0;
	}
	
	#subgrid .gridrow .span6 {
		width: 450px;
	}
	
	#subgrid .gridrow .span12 {
		width: 920px;
	}
	
	#subgrid h5 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	
	/*---------------------------------------------------
	------ Section Navigation
	---------------------------------------------------*/
	
	#section-nav a, #section-nav a:visited {
		margin-right: 10px;
		padding-right: 10px;
		color: #94181C;
		text-decoration: none;
		font-size: 14px;
		border-right: 1px solid #CCC;
	}
	
	#section-nav a:hover {
		text-decoration: underline;
	}
	
	#section-nav a:last-child {
		margin: 0;
		padding: 0;
		border: none;
	}
	
	/*---------------------------------------------------
	------ Products
	---------------------------------------------------*/
	
	.products ul {
		margin: 0;
		list-style: none;
	}
	
	.products ul li {
		display: block;
		margin-bottom: 10px;
	}
		
	.products ul li i {
		margin-right: 10px;
		color: #94181C;
	}
	
	.products ul li ul {
		margin-left: 20px	;
		margin-top: 10px;
	}
	
	.products ul li > ul li {
		font-size: 14px;
		color: #333;
	}
	
	.products ul li > ul li i {
		color: #777;
	}
	
	/*---------------------------------------------------
	------ Services
	---------------------------------------------------*/
	
	.services ul {
		margin: 0;
		list-style: none;
	}
	
	.services ul li {
		display: block;
		margin-bottom: 10px;
	}
		
	.services ul li i {
		margin-right: 10px;
		color: #94181C;
	}
	
	.services ul li ul {
		margin-left: 20px	;
		margin-top: 10px;
	}
	
	.services ul li > ul li {
		font-size: 14px;
		color: #333;
	}
	
	.services ul li > ul li i {
		color: #777;
	}
	
	/*---------------------------------------------------
	------ Contact
	---------------------------------------------------*/
	#contact_form input { padding: 5px; height: 30px; }
	#contact_form textarea { padding: 5px; width: 500px; height: auto; }
	
	/*---------------------------------------------------
	------ Footer
	---------------------------------------------------*/
	
	footer {
		height: 210px;
		background: #434244;
		background-image: linear-gradient(top, #353334 0%, #434244 20%);
		background-image: -o-linear-gradient(top, #353334 0%, #434244 20%);
		background-image: -moz-linear-gradient(top, #353334 0%, #434244 20%);
		background-image: -webkit-gradient(linear, 0 0, 0 20%, from(#353334), to(#434244));
		background-image: -webkit-linear-gradient(top, #353334 0%, #434244 20%);
		background-image: -ms-linear-gradient(top, #353334 0%, #434244 20%);
	}
	
	footer .span4 {
		margin-top: 40px;
		width: 299px;
		height: 145px;
	}
	
	footer .span4:not(:last-child) {
		border-right: 1px solid #000;
	}
	
	footer p {
		font-size: 16px;
	}
	
	footer ul {
		margin: 0;
		list-style: none;
	}
	
	footer a, footer a:visited {
		font-size: 16px;
		color: #FFF;
	}
	
	footer a:hover {
		color: #FFF;
	}
	